.text-primary {
    color: var(--primary-color);
}

.text-center {
    text-align: center;
}

.font-bold {
    font-weight: var(--font-bold);
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-evenly {
    justify-content: space-evenly;
}

.flex-col {
    flex-direction: column;
}

.btn {
    font-weight: var(--font-bold);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    box-shadow: var(--shadow-sm);
    transition: var(--transition);
}

.btn:hover {
    background-color: var(--button-hover);
}

.btn:active {
    scale: 0.99;
    background-color: var(--button-active);
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--text-light);
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 1.5rem;
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}